<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/img/favicon.png">
    <title>Error 404 : Page not Found</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}
    <h1>Error {{title}}</h1>
    <img class="errorpic" src="/img/error.jpg">
    <p>{{errorMessage}}</p>
    {{!-- <p>Created by {{name}}</p> --}}
    {{>footer}}
</body>

</html>