<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/img/favicon.png">
    <title>Weather App | About Us</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class='body'>
    {{>header}}  
    <h1>{{title}}</h1>
    <p>> This site was created by Mehul Singh Teya. It uses Mapbox.com and Darksky.net to fetch weather details.<br><br>
        > The entire app is written in Node.js<br><br>
        > Github Repository : https://github.com/daxter-army/weather-app</p>
    <img class="portrait" src="/img/artwork.jpg">
    </div>
    {{>footer}}
</body>

</html>